<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" id="menu">
      <header>
        <div id="menu-titulo">
          <h1>Silas Ianez</h1>
          <h2><i> Aprendendo na prática</i></h2>
        </div>
        <nav class="navbar navbar-inverse navbar-toggleable-sm" id="menu-links">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menu-links-interno">
            <span class="glyphicon glyphicon-resize-vertical"></span>
          </button>
          <a class="navbar-brand hidden-md-up" href="#">Menu</a>
          <div class="navbar-collapse collapse" id="menu-links-interno">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#sobre-mim">Sobre</a>
              <a class="nav-item nav-link" href="#artigos">Artigos</a>
              <a class="nav-item nav-link" href="#contato">Contato</a>
            </div>
          </div>
        </nav>
      </header>
    </div>
    <div class="col-md-8" id="conteudo">conteúdo</div>
  </div>
</div>